<h2>Nos musiques</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="title">Rechercher une musique par titre</label>
    <input type="text" formControlName="title">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="songs$ else noSongs">
    <ul>
        <li *ngFor="let song of songs$ | async">
            <dl id="{{ song.id }}">
                <dt>Titre</dt>
                <dd>{{ song.title }}</dd>

                <dt>Artiste</dt>
                <dd><app-artist-name [artistUrl]="song.artist"></app-artist-name></dd>

                <dt>Longueur</dt>
                <dd>{{ song.length }} secondes</dd>

                <dt>Youtube</dt>
                <dd><a href="{{ song.youtube }}">lien</a></dd>
            </dl>
        </li>
    </ul>
</div>
<ng-template #noSongs>
    <p>Il n'y a pas de musique qui correspond à ce titre !</p>
</ng-template>