<h2>Nos musiques</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="title">Rechercher une musique par titre</label>
    <input type="text" formControlName="title">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="songs$ else noSongs">
    <p>Il y a {{ (songs$ | async)?.length }} résultat(s)</p>
    <table class="table table-striped">
        <thead style="background-color: silver;">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">Artiste</th>
                <th scope="col">Longueur</th>
                <th scope="col">Youtube</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of songs$ | async">
                <th id="{{ song.id }}">{{ song.id }}</th>
                <td>{{ song.title }}</td>
                <td><app-artist-name [artistUrl]="song.artist"></app-artist-name></td>
                <td>{{ song.length }} secondes</td>
                <td><a href="{{ song.youtube }}">lien</a></td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noSongs>
    <p>Il n'y a pas de musique qui correspond à ce titre !</p>
</ng-template>