<h2>Nos musiques</h2>

<form>
    <label>Rechercher une musique par titre</label>
    <input type="text">
</form>

<div *ngIf="songs$">
    <ul>
        <li *ngFor="let song of songs$ | async">
            <dl>
                <dt>Titre</dt>
                <dd>{{ song.title }}</dd>

                <dt>Artiste</dt>
                <dd><a href="{{ song.artist }}">Voir l'artiste</a></dd>

                <dt>Longueur</dt>
                <dd>{{ song.length }} secondes</dd>

                <dt>Youtube</dt>
                <dd><a href="{{ song.youtube }}">lien</a></dd>
            </dl>
        </li>
    </ul>
</div>
