<h2>Nos artistes</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="name">Recherche un artiste</label>
    <input type="text" formArrayName="name">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="artists$ else noArtists">
    <ul>
        <li *ngFor="let artist of artists$ | async">
            <dl>
                <dt>Nom</dt>
                <dd>{{ artist.name }}</dd>

                <p>Mettre un lien vers l'affichage de l'artiste</p>
            </dl>
        </li>
    </ul>
</div>
<ng-template #noArtists>
    <p>Il n'y a pas d'artistes qui correspondent à ce nom !</p>
</ng-template>