<h2>Nos artistes</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="name">Recherche un artiste</label>
    <input type="text" formControlName="name">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="artists$ else noArtists" class="d-flex flex-column align-items-center">
    <p>Il y a {{ (artists$ | async)?.length }} résultat(s)</p>
    <table class="table table-striped">
        <thead style="background-color: silver;">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Lien (TODO)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let artist of artists$ | async">
                <td>{{ artist.name }}</td>
                <td>Lien vers l'affichage de l'artiste</td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="songs-pagination">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="onPreviousClick()"><<</button>
          </li>
          <li class="page-item">
            <span id="page-number" class="page-link active">1</span>
          </li>
          <li class="page-item">
            <button class="page-link" (click)="onNextClick()">>></button>
          </li>
        </ul>
    </nav>
</div>
<ng-template #noArtists>
    <p>Il n'y a pas d'artistes qui correspondent à ce nom !</p>
</ng-template>