<h2>Nos artistes</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="name">Rechercher un artiste</label>
    <input type="text" formControlName="name">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="artists$ else noArtists" class="d-flex flex-column align-items-center">
    <p>Il y a {{ (artists$ | async)?.length }} résultat(s)</p>
    <table class="table table-striped">
        <thead style="background-color: silver;">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Lien vers l'artiste</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let artist of artists$ | async">
                <td>{{ artist.name }}</td>
                <td>
                    <a href="/artists/{{ artist.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                            <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="songs-pagination">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="onPreviousClick()"><<</button>
          </li>
          <li class="page-item">
            <span id="page-number" class="page-link active">1</span>
          </li>
          <li class="page-item">
            <button class="page-link" (click)="onNextClick()">>></button>
          </li>
        </ul>
    </nav>
</div>
<ng-template #noArtists>
    <p>Il n'y a pas d'artistes qui correspondent à ce nom !</p>
</ng-template>

<router-outlet></router-outlet>