<h2>Albums</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="researchForm">
    <label for="title">Rechercher un album</label>
    <input type="text" formArrayName="title">
    <button type="submit">Rechercher</button>
</form>

<div *ngIf="albums$ else noAlbums" class="d-flex flex-column align-items-center">
    <table class="table table-striped">
        <thead style="background: silver;">
            <tr>
                <th scope="col">Titre</th>
                <th score="col">Musiques</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let album of albums$ | async">
                <td>{{ album.title }}</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noAlbums>
    <p>Il n'y a pas d'albums avec ce nom !</p>
</ng-template>